h1, P, figure, ul, li{ 
    margin :0;
    padding :0;
    
}
body{
    font-family: sans-serif;
}


section{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
section .col1{
    width: 48%; 
}
section .col2{
    width: 48%;
}
.col2 ul, .col2 ul li {
    display: inline;
    margin: 0;
    padding: 0;
}