h1, P, figure, ul, li{ 
    margin :0;
    padding :0;
    
}
body{
    font-family: sans-serif;
}


section{
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
section .col1{
    width: 48%; 
}
section .col2{
    width: 48%;
}
section .col2  ul {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}