/*reset*/

h1, p, figure, ul, li{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

ul, li {
    list-style: none;
}

section {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

section .col1 {
    width: 48%;
}

section .col2 {
    width: 48%;
}

section .col2 ul {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
}

section form * {
    margin: 15px 0;
    padding: 8px;
}

section form *{
    margin: 15px 0;
    padding: 8px 4px;
    border: 1px solid blue;
}

section form textarea{
    height: 80px;
}

section form button{
    background: blue;
    color: white;
    cursor: pointer;
}
.container{
    width: 700px;
    margin: 0 auto;

}
header ul{
    display: flex;
    justify-content: flex-end;

}
header ul li {
    margin-left: 20px;
    font-size: 1.6rem;
}
.gallerie{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}
.gallerie article{
    width: 32%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.gallerie article img{
    width: 100%;
}
.gallerie article h2{
    flex:1;
}

.contact h1{
    text-align: center;
    color: rgb(5, 56, 56);
}
.contact form {
    display: flex;
    flex-direction: column;
}
.contact form  {
    margin: 15px 0;
    padding: 8px;
}

.contact form {
    margin: 20px 0;
    padding: 10px 5px;
    border: 1px solid rgb(94, 94, 137);
}

.contact form textarea{
    height: 80px;
}

.contact form button{
    background:rgb(91, 56, 126);
    color: white;
    cursor: pointer;
}